//Fonts
$main-font-stack: "Montserrat", sans-serif;


//COLORS
$primary-color-dark: #18191d;
$primary-color-light: #b9b9b9;
$color-text-white: #ffffff;
$accent-color:#ff6b08;
$shadow-color:#f8f8f8;
$color-text-grey:#383a3b;
$color-bg-ligth:#f1f1f1;
$color-border-ligth:#d1d1d1;
$color-text-light: #858585;
