footer{
    background-color: $primary-color-dark;
}

.footer__text{
    @include text (11px, 500, 11px, $color-text-light);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (min-width: 768px){
.footer__text{
    text-align: start;
}
}

@media (min-width: 1280px){
    .footer__text{
        @include text (16px, 500, 36px, $color-text-light);
    }
    
    }
